<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/shop/shop.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Web Dev</title>
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        <header class="header">
            <nav class="header-navbar">
                <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

                <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
                    <span class="material-icons">menu</span>
                </button>

                <h1 class="navbar-title">Dev</h1>
                <nav class="navbar-menu">
                    <button type="button" class=""><a href="/index.html">Home</a></button>
                    <button type="button" class=""><a href="/src/components/about/about.html">About</a></button>
                    <button type="button" class=""><a href="/src/components/contacts/contacts.html">Contacts</a></button>
                    <button type="button" class="active"><a href="shop.html">Shop</a></button>
                </nav>
            </nav>
        </header>
        <!-- main -->
        <main class="main">
            <!-- Search section -->
            <section class="search-section">
                <div class="section">
                    <div class="section-search">
                        <input type="text" alt="search" placeholder="search">
                        <button>search</button>
                    </div>
                </div>
            </section>

            <!-- Products section -->
            <section class="products">
                <!-- defult 16 cards -->
                <div class="product-cards">
                    <div class="card card-1">
                        <img src="/src/assets/slide-1.jpg" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-2">
                        <img src="/src/assets/slide-2.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-3">
                        <img src="/src/assets/slide-3.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-4">
                        <img src="/src/assets/slide-4.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-5">
                        <img src="/src/assets/slide-5.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-6">
                        <img src="/src/assets/slide-6.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-7">
                        <img src="/src/assets/slide-7.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-8">
                        <img src="/src/assets/slide-8.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-1">
                        <img src="/src/assets/slide-9.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-2">
                        <img src="/src/assets/slide-10.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-3">
                        <img src="/src/assets/slide-11.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-4">
                        <img src="/src/assets/slide-12.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-5">
                        <img src="/src/assets/slide-13.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-6">
                        <img src="/src/assets/slide-14.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-7">
                        <img src="/src/assets/slide-15.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="card card-8">
                        <img src="/src/assets/slide-16.webp" alt="">
                        <div class="btn">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <h6>Saydullayev017<a href="https://github.com/Saydullayev017">github</a></h6>
            <h6>2023</h6>
        </footer>
    </div>

    <script type="text/javascript">
        const toggleMenuOpen = () => document.body.classList.toggle("open");
    </script>
</body>
</html>