<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/shop/shop.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Web Dev</title>
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        <header class="header">
            <nav class="header-navbar">
                <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

                <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
                    <span class="material-icons">menu</span>
                </button>

                <h1 class="navbar-title">Dev</h1>
                <nav class="navbar-menu">
                    <button type="button" class=""><a href="/index.html">Home</a></button>
                    <button type="button" class=""><a href="/src/components/about/about.html">About</a></button>
                    <button type="button" class="active"><a href="shop.html">Shop</a></button>
                    <button type="button" class=""><a href="/src/components/contacts/contacts.html">Contacts</a></button>
                </nav>
                <div class="log">
                    <a href="/src/components/log/log.html"><img src="/src/assets/login.png" style="width: 40px; margin: 10px;" alt=""></a></li>
                    <a href="/src/components/basket/basket.html"><img src="/src/assets/shop.png" style="width: 25px; margin: 10px;" alt=""></a></li>
                </div>
            </nav>
        </header>
        <!-- main -->
        <main class="main">
            <!-- Search section -->
            <section class="search-section">
                <div class="section">
                    <div class="section-search">
                        <input type="text" alt="search" placeholder="search" name="search-bar">
                        <button>search</button>
                    </div>
                </div>
            </section>

            <!-- Products section -->
            <section class="products">
                <!-- defult 16 cards -->
                <div class="product-cards">
                    <div class="card card-1">
                        <img class="product-img" src="/src/assets/slide-1.jpg" alt="Mechanic Keyboard"> <!-- Вывод картинки -->
                        <div class="card-name">
                          Mechanic Keyboard
                        </div>
                        <div class="btn">
                          <element class="price">12$</element>
                          <button class="add-to-cart-button">Add</button>
                        </div>
                      </div>
                    <div class="card card-2">
                        <img src="/src/assets/slide-2.webp" alt="">
                        <div class="card-name">
                            Mechanice Keyboard
                        </div>
                        <div class="btn">
                            <element class="price">20$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-3">
                        <img src="/src/assets/slide-3.webp" alt="">
                        <div class="card-name">
                            Mechanice Keyboard
                        </div>
                        <div class="btn">
                            <element class="price">25$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-4">
                        <img src="/src/assets/slide-4.webp" alt="">
                        <div class="card-name">
                            Mechanice Keyboard
                        </div>
                        <div class="btn">
                            <element class="price">50$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-5">
                        <img src="/src/assets/slide-5.webp" alt="">
                        <div class="card-name">
                            Mause
                        </div>
                        <div class="btn">
                            <element class="price">43$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-6">
                        <img src="/src/assets/slide-6.webp" alt="">
                        <div class="card-name">
                            Mause
                        </div>
                        <div class="btn">
                            <element class="price">45$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-7">
                        <img src="/src/assets/slide-7.webp" alt="">
                        <div class="card-name">
                            Mause
                        </div>
                        <div class="btn">
                            <element class="price">33$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-8">
                        <img src="/src/assets/slide-8.webp" alt="">
                        <div class="card-name">
                            Mause
                        </div>
                        <div class="btn">
                            <element class="price">30$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-1">
                        <img src="/src/assets/slide-9.webp" alt="">
                        <div class="card-name">
                            Headphones
                        </div>
                        <div class="btn">
                            <element class="price">48$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-2">
                        <img src="/src/assets/slide-10.webp" alt="">
                        <div class="card-name">
                            Headphones
                        </div>
                        <div class="btn">
                            <element class="price">22$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-3">
                        <img src="/src/assets/slide-11.webp" alt="">
                        <div class="card-name">
                            Headphones
                        </div>
                        <div class="btn">
                            <element class="price">81$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-4">
                        <img src="/src/assets/slide-12.webp" alt="">
                        <div class="card-name">
                            Headphones
                        </div>
                        <div class="btn">
                            <element class="price">99$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-5">
                        <img src="/src/assets/slide-13.webp" alt="">
                        <div class="card-name">
                            Armchair
                        </div>
                        <div class="btn">
                            <element class="price">97$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-6">
                        <img src="/src/assets/slide-14.webp" alt="">
                        <div class="card-name">
                            Armchair
                        </div>
                        <div class="btn">
                            <element class="price">78$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-7">
                        <img src="/src/assets/slide-15.webp" alt="">
                        <div class="card-name">
                            Armchair
                        </div>
                        <div class="btn">
                            <element class="price">69$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                    <div class="card card-8">

                        <img src="/src/assets/slide-16.webp" alt="">
                        <div class="card-name">
                            Armchair
                        </div>
                        <div class="btn">
                            <element class="price">98$</element>
                            <button class="add-to-cart-button">Add</button>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <h6>Saydullayev017<a href="https://github.com/Saydullayev017">github</a></h6>
            <h6>2023</h6>
        </footer>
    </div>
    <script src="/src/js/index.js"></script>

    <script type="text/javascript">
        const toggleMenuOpen = () => document.body.classList.toggle("open");
    </script>
</body>
</html>