main {
    padding-bottom: 100px;
}
.section {
    position: relative;
    width: 60vw;
    height: 35vh;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    margin: 5rem auto;
    overflow: hidden;
    opacity: 0.75;
    border-radius: 20px;
}
.section_second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.block_1,.block_2,.block_3,.block_4,.block_5,.block_6{
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.section .section-holder {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.75;
    animation: slider 30s ease-in-out infinite alternate;
}
.section-holder #slider-img-1 {
    background-image: url(/src/assets/slide-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.main #slider-img-2 {
    background-image: url(/src/assets/slide-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
.main #slider-img-3 {
    background-image: url(/src/assets/slide-3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
@keyframes slider {
    0% {transform: translate(0%);}
    10% {transform: translate(-100%);}
    20% {transform: translate(-200%);}

}
/* ------------------------------------------------ */

.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;
}
.section-cards img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}
@media (min-width: 280px) and (max-width: 374px) {
    .section {
        width: 250px;
    }
}
@media (min-width: 375px) and (max-width: 539px) {
    .section {
        width: 350px;
    }
}
@media (min-width: 540px) and (max-width: 759px) {
    .section {
        width: 450px;
    }
}
@media (min-width: 760px) and (max-width: 819px) {
    .section {
        width: 650px;
    }
}
@media (min-width: 820px) and (max-width: 1180px) {
    .section {
        width: 750px;
    }
}