<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/components/about/about.css">
    <link rel="stylesheet" href="/src/styles/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Web Dev</title>
</head>
<body>

<!-- Container Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <header class="header">
            <nav class="header-navbar">

                <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

                <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
                    <span class="material-icons">menu</span>
                </button>

                <h1 class="navbar-title">Dev</h1>
                <nav class="navbar-menu">
                    <button type="button" class=""><a href="/index.html">Home</a></button>
                    <button type="button" class="active"><a href="/src/components/about/about.html">About</a></button>
                    <button type="button" class=""><a href="/src/components/contacts/contacts.html">Contacts</a></button>
                    <button type="button" class=""><a href="/src/components/shop/shop.html">Shop</a></button>
                </nav>

                <div class="log">
                    <a href="/src/components/log/log.html"><img src="/src/assets/login.png" style="width: 40px; margin: 10px;" alt=""></a></li>
                    <a href="/src/components/basket/basket.html"><img src="/src/assets/shop.png" style="width: 25px; margin: 10px;" alt=""></a></li>
                </div>
            </nav>
        </header>

        <!-- Main -->
        <main class="main">
            <!-- First section -->
            <section class="">
                <h6 id="text">Dev Company 2002 - 2023</h6>
                <ul>
                    <li class="timelines">
                        <div class="date">2002</div>
                        <div class="title">Title 1</div>
                        <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
                    </li>
                    <li class="timelines">
                        <div class="date">2007</div>
                        <div class="title">Title 2</div>
                        <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.</div>
                    </li>
                    <li class="timelines">
                        <div class="date">2012</div>
                        <div class="title">Title 3</div>
                        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.</div>
                    </li>
                    <li class="timelines">
                        <div class="date">2017</div>
                        <div class="title">Title 4</div>
                        <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
                    </li>
                    <li class="timelines">
                        <div class="date">2023</div>
                        <div class="title">Title 5</div>
                        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
                    </li>
                </ul>
            </section>
            <!-- Second Section -->
            <section class="">
                <!-- Title -->
                <div class="section_title">
                    <h4 class="text">Faunders</h4>
                </div>
                <!-- Cards -->
                <div class="cards">
                    <div class="card">
                        <img src="/src/assets/about_card.jpg" alt="">
                    </div>
                    <div class="card">
                        <img src="/src/assets/about_card.jpg" alt="">

                    </div>
                    <div class="card">
                        <img src="/src/assets/about_card.jpg" alt="">

                    </div>
                    <div class="card">
                        <img src="/src/assets/about_card.jpg" alt="">

                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <h6>Saydullayev017<a href="https://github.com/Saydullayev017">github</a></h6>
            <h6>2023</h6>
        </footer>
    </div>

    <script type="text/javascript">
        const toggleMenuOpen = () => document.body.classList.toggle("open");
    </script>
</body>
</html>


